<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.readthefriendlymanual</string>
	<key>connections</key>
	<dict>
		<key>1316573E-66B4-45A0-AE24-1041C0FEF29B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D40D6D64-FF2E-4DEF-9E4F-FAD97CD742DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D82DE8DE-E098-438F-8715-618C6176A7A8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58CFC4AF-D501-4BE6-AD23-40AEDB736242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C8EA8CAB-421F-4122-BF48-760CAC1D0F29</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58CFC4AF-D501-4BE6-AD23-40AEDB736242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>96305D43-E705-44A7-A58F-C2DFCF717AC8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67F9AB13-083E-401B-848B-20B11449C60A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E46C61F-0D2F-4C2F-9EFB-852803782E30</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67F9AB13-083E-401B-848B-20B11449C60A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E9E35736-C6E7-4353-898E-8992DE4E5954</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDA1D8F9-B664-4DE1-948D-E328AD435BAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E9CC549F-06D1-4989-AF1C-085A87435DC6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4216E7F9-0428-4C54-8B79-89A795C51680</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E90665E1-58AA-4B85-864D-C8C69678D54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FF09CD7-6388-4894-9219-65284C1AFCA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A03E0F77-9375-4FBF-9CEB-1E4BEEB54907</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>564ACFDA-9DD5-42AA-996A-9F49C2145235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FF09CD7-6388-4894-9219-65284C1AFCA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F24C32EF-FECB-49AE-B26B-2DAD477A386F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F8C23E2-0B7A-4058-A902-4C101D9272DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D7C871C4-6E0E-4E31-871D-FC362B61D7DB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58CFC4AF-D501-4BE6-AD23-40AEDB736242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA8DE7FA-B2B9-40E8-A642-326252875599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63143081-6ABA-4565-8406-D09C5E4F27FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91790F26-F49F-4EF2-9642-6478F038EE50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C43ABBA6-0652-4C70-A51E-37B380655DB2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in secondary viewer</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>67F9AB13-083E-401B-848B-20B11449C60A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA8DE7FA-B2B9-40E8-A642-326252875599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E61FF49-FA1F-428A-8A08-D18053F039DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E0E7804-7638-4625-9B2B-95B8E07A5B5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>96305D43-E705-44A7-A58F-C2DFCF717AC8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E218C8A5-D48F-47A3-A60C-CC8A560BC68D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D82DE8DE-E098-438F-8715-618C6176A7A8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>12457F0A-67D4-4396-81CC-8649D8311C51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7F85DE70-443C-4408-B03E-379E0DB1604D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1DD6CA9F-51C1-4195-8C65-D986AE7D6DDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F8C23E2-0B7A-4058-A902-4C101D9272DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A03E0F77-9375-4FBF-9CEB-1E4BEEB54907</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91790F26-F49F-4EF2-9642-6478F038EE50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1316573E-66B4-45A0-AE24-1041C0FEF29B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E0E7804-7638-4625-9B2B-95B8E07A5B5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>564ACFDA-9DD5-42AA-996A-9F49C2145235</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in alternative viewer</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>A7457A0B-05CC-48A8-89A9-A34E4D735887</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF83BA89-92A2-41BC-80A2-AC80BB631467</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA8DE7FA-B2B9-40E8-A642-326252875599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FADD8B56-CD2D-413B-9832-B8CBEEC9D8EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF83BA89-92A2-41BC-80A2-AC80BB631467</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1316573E-66B4-45A0-AE24-1041C0FEF29B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C43ABBA6-0652-4C70-A51E-37B380655DB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1316573E-66B4-45A0-AE24-1041C0FEF29B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D40D6D64-FF2E-4DEF-9E4F-FAD97CD742DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA8DE7FA-B2B9-40E8-A642-326252875599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E218C8A5-D48F-47A3-A60C-CC8A560BC68D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4216E7F9-0428-4C54-8B79-89A795C51680</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E90665E1-58AA-4B85-864D-C8C69678D54B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>564ACFDA-9DD5-42AA-996A-9F49C2145235</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in alternative viewer</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>FADD8B56-CD2D-413B-9832-B8CBEEC9D8EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E61FF49-FA1F-428A-8A08-D18053F039DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Open Unix Manual Pages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Read the Friendly Manual</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:manual}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>viewer</key>
					<string>{var:primary_viewer}</string>
					<key>viewer_type</key>
					<string>primary</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FF09CD7-6388-4894-9219-65284C1AFCA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>open_manual</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A03E0F77-9375-4FBF-9CEB-1E4BEEB54907</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>displaymode</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.pdf</string>
			<key>uid</key>
			<string>9E0E7804-7638-4625-9B2B-95B8E07A5B5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer_type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>secondary</string>
						<key>outputlabel</key>
						<string>Open Primary</string>
						<key>uid</key>
						<string>F24C32EF-FECB-49AE-B26B-2DAD477A386F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer_type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>primary</string>
						<key>outputlabel</key>
						<string>Open Secondary</string>
						<key>uid</key>
						<string>D7C871C4-6E0E-4E31-871D-FC362B61D7DB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>564ACFDA-9DD5-42AA-996A-9F49C2145235</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:manual}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>viewer</key>
					<string>{var:secondary_viewer}</string>
					<key>viewer_type</key>
					<string>secondary</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F8C23E2-0B7A-4058-A902-4C101D9272DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># See "ASCII Output" section of "mandoc" manual page
/usr/bin/col -b &lt;&lt;&lt; "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4216E7F9-0428-4C54-8B79-89A795C51680</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/mandoc -T "${format}" "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA8DE7FA-B2B9-40E8-A642-326252875599</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>E218C8A5-D48F-47A3-A60C-CC8A560BC68D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred_pdf_view</string>
						<key>outputlabel</key>
						<string>Alfred PDF View</string>
						<key>uid</key>
						<string>96305D43-E705-44A7-A58F-C2DFCF717AC8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred_text_view</string>
						<key>outputlabel</key>
						<string>Alfred Text View</string>
						<key>uid</key>
						<string>D82DE8DE-E098-438F-8715-618C6176A7A8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>quick_look</string>
						<key>outputlabel</key>
						<string>Quick Look</string>
						<key>uid</key>
						<string>7F85DE70-443C-4408-B03E-379E0DB1604D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6E61FF49-FA1F-428A-8A08-D18053F039DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>E90665E1-58AA-4B85-864D-C8C69678D54B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>open_manual</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A7457A0B-05CC-48A8-89A9-A34E4D735887</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>/tmp/{const:alfred_workflow_bundleid}/manual.{var:format}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>FADD8B56-CD2D-413B-9832-B8CBEEC9D8EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>format</key>
					<string>utf8</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D40D6D64-FF2E-4DEF-9E4F-FAD97CD742DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:manual}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>unsupported</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AF83BA89-92A2-41BC-80A2-AC80BB631467</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred_text_view</string>
						<key>outputlabel</key>
						<string>Alfred Text View</string>
						<key>uid</key>
						<string>D82DE8DE-E098-438F-8715-618C6176A7A8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred_pdf_view</string>
						<key>outputlabel</key>
						<string>Alfred PDF View</string>
						<key>uid</key>
						<string>96305D43-E705-44A7-A58F-C2DFCF717AC8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pdf_app</string>
						<key>outputlabel</key>
						<string>PDF App</string>
						<key>uid</key>
						<string>C8EA8CAB-421F-4122-BF48-760CAC1D0F29</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>quick_look</string>
						<key>outputlabel</key>
						<string>Quick Look</string>
						<key>uid</key>
						<string>E9E35736-C6E7-4353-898E-8992DE4E5954</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>web_browser</string>
						<key>outputlabel</key>
						<string>Web Browser</string>
						<key>uid</key>
						<string>8E46C61F-0D2F-4C2F-9EFB-852803782E30</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:viewer}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>Terminal</string>
						<key>uid</key>
						<string>E9CC549F-06D1-4989-AF1C-085A87435DC6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1316573E-66B4-45A0-AE24-1041C0FEF29B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>format</key>
					<string>pdf</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>58CFC4AF-D501-4BE6-AD23-40AEDB736242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.quicklook</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>12457F0A-67D4-4396-81CC-8649D8311C51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:man_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Grabbing available manuals…</string>
				<key>script</key>
				<string>// Helpers
function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function runCommand(...arguments) {
  const task = $.NSTask.alloc.init
  const stdout = $.NSPipe.pipe

  task.executableURL = $.NSURL.fileURLWithPath("/usr/bin/env")
  task.arguments = arguments
  task.standardOutput = stdout
  task.launchAndReturnError(false)

  const dataOut = stdout.fileHandleForReading.readDataToEndOfFileAndReturnError(false)
  const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

  return stringOut
}

function dirContents(path) {
  const arguments = [
    $.NSURL.fileURLWithPath(path),
    undefined,
    $.NSDirectoryEnumerationSkipsHiddenFiles,
    undefined
  ]

  return $.NSFileManager.defaultManager
    .contentsOfDirectoryAtURLIncludingPropertiesForKeysOptionsError(...arguments)
    .js?.map(p =&gt; p.path.js) || []
}

// Main
function run() {
  const chosenSections = [
    ["1", envVar("sec1") === "1"],
    ["2", envVar("sec2") === "1"],
    ["3", envVar("sec3") === "1"],
    ["4", envVar("sec4") === "1"],
    ["5", envVar("sec5") === "1"],
    ["6", envVar("sec6") === "1"],
    ["7", envVar("sec7") === "1"],
    ["8", envVar("sec8") === "1"],
    ["9", envVar("sec9") === "1"],
  ].filter(sec =&gt; sec[1]).map(sec =&gt; sec[0])

  // Abort when no sections selected
  if (chosenSections.length === 0) return JSON.stringify({ items: [{
    title: "No Manual Sections Selected",
    subtitle: "At least one section must be chosen",
    valid: false
  }]})

  // Grab manuals
  const manualFiles = runCommand("/usr/bin/manpath")
    .trim().split(":")
    .flatMap(dir =&gt; dirContents(dir))
    .filter(dir =&gt; chosenSections.includes(dir.slice(-1)))
    .flatMap(dir =&gt; dirContents(dir))
    .filter(file =&gt; file.match(/\.\d$/))

  const sfItems = manualFiles.map(manFile =&gt; {
    return {
      uid: manFile,
      title: $(manFile).lastPathComponent.js.slice(0, -2),
      subtitle: manFile,
      arg: manFile
    }
  })

  return JSON.stringify({ cache: { seconds: 300, loosereload: true }, items: sfItems })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open Unix Manual Pages</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63143081-6ABA-4565-8406-D09C5E4F27FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>manual</key>
					<string>{query}</string>
					<key>viewer</key>
					<string>{var:primary_viewer}</string>
					<key>viewer_type</key>
					<string>primary</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>91790F26-F49F-4EF2-9642-6478F038EE50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>format</key>
					<string>html</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>67F9AB13-083E-401B-848B-20B11449C60A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/man {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BDA1D8F9-B664-4DE1-948D-E328AD435BAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1DD6CA9F-51C1-4195-8C65-D986AE7D6DDE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>manual</key>
					<string>{query}</string>
					<key>viewer</key>
					<string>{var:secondary_viewer}</string>
					<key>viewer_type</key>
					<string>secondary</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C43ABBA6-0652-4C70-A51E-37B380655DB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search installed manual pages via the `man` keyword.

![Searchign for manual pages](images/about/search.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open in primary viewer.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in secondary viewer.

The viewer app set in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/) determines the generated format:

* Alfred Text View: ASCII text.
* Alfred PDF View: PDF.
* PDF App: PDF.
* Quick Look: HTML.
* Web Browser: HTML.
* Terminal: Standard view.

When viewing in Alfred, &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; opens the alternative viewer.

![Text View in Alfred](images/about/text.png)

![PDF View in Alfred](images/about/pdf.png)</string>
	<key>uidata</key>
	<dict>
		<key>12457F0A-67D4-4396-81CC-8649D8311C51</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>1316573E-66B4-45A0-AE24-1041C0FEF29B</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>1DD6CA9F-51C1-4195-8C65-D986AE7D6DDE</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>4216E7F9-0428-4C54-8B79-89A795C51680</key>
		<dict>
			<key>note</key>
			<string>Remove terminal sequences</string>
			<key>xpos</key>
			<real>1240</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>4FF09CD7-6388-4894-9219-65284C1AFCA2</key>
		<dict>
			<key>xpos</key>
			<real>1740</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>564ACFDA-9DD5-42AA-996A-9F49C2145235</key>
		<dict>
			<key>xpos</key>
			<real>1585</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>58CFC4AF-D501-4BE6-AD23-40AEDB736242</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>63143081-6ABA-4565-8406-D09C5E4F27FC</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>67F9AB13-083E-401B-848B-20B11449C60A</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>6E61FF49-FA1F-428A-8A08-D18053F039DC</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>8F8C23E2-0B7A-4058-A902-4C101D9272DD</key>
		<dict>
			<key>xpos</key>
			<real>1740</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>91790F26-F49F-4EF2-9642-6478F038EE50</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>9E0E7804-7638-4625-9B2B-95B8E07A5B5F</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>A03E0F77-9375-4FBF-9CEB-1E4BEEB54907</key>
		<dict>
			<key>xpos</key>
			<real>1840</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>A7457A0B-05CC-48A8-89A9-A34E4D735887</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>AA8DE7FA-B2B9-40E8-A642-326252875599</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>AF83BA89-92A2-41BC-80A2-AC80BB631467</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>BDA1D8F9-B664-4DE1-948D-E328AD435BAF</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>C43ABBA6-0652-4C70-A51E-37B380655DB2</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>D40D6D64-FF2E-4DEF-9E4F-FAD97CD742DB</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>E218C8A5-D48F-47A3-A60C-CC8A560BC68D</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>E90665E1-58AA-4B85-864D-C8C69678D54B</key>
		<dict>
			<key>xpos</key>
			<real>1395</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>FADD8B56-CD2D-413B-9832-B8CBEEC9D8EC</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>man</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Manuals Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>man_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>alfred_pdf_view</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Alfred Text View</string>
						<string>alfred_text_view</string>
					</array>
					<array>
						<string>Alfred PDF View</string>
						<string>alfred_pdf_view</string>
					</array>
					<array>
						<string>PDF App</string>
						<string>pdf_app</string>
					</array>
					<array>
						<string>Quick Look</string>
						<string>quick_look</string>
					</array>
					<array>
						<string>Web Browser</string>
						<string>web_browser</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Primary Viewer</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>primary_viewer</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>alfred_text_view</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Alfred Text View</string>
						<string>alfred_text_view</string>
					</array>
					<array>
						<string>Alfred PDF View</string>
						<string>alfred_pdf_view</string>
					</array>
					<array>
						<string>PDF App</string>
						<string>pdf_app</string>
					</array>
					<array>
						<string>Quick Look</string>
						<string>quick_look</string>
					</array>
					<array>
						<string>Web Browser</string>
						<string>web_browser</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Secondary Viewer</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>secondary_viewer</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(1) General Commands</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Manual Sections</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(2) System Calls</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(3) Library Functions</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(4) Kernel Interfaces</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(5) File Formats</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(6) Games</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(7) Miscellaneous Information</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(8) System Manager</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>(9) Kernel Developer</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sec9</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.3</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/read-the-friendly-manual-workflow/</string>
</dict>
</plist>
